<section class="banner-image-area">
	<div class="banner-background-image" style="background-image: url(http://localhost:9000/images/business-cards.jpg)">
	</div>
</div>
<div class="container">
	<div class="row">
		<div class="col-sm-4">
			<h4>HTML5 Boilerplate</h4>
			<p>
				HTML5 Boilerplate is a professional front-end template for building fast, robust, and adaptable web apps or sites.
			</p>
			<button type="button" class="btn btn-primary btn-lg">Block level button</button>
		</div>
		<div class="col-sm-4">
			<h4>Angular</h4>
			<p>
				AngularJS is a toolset for building the framework most suited to your application development.
			</p>
			<button type="button" class="btn btn-primary btn-lg">Block level button</button>
		</div>
		<div class="col-sm-4">
			<h4>Karma</h4>
			<p>Spectacular Test Runner for JavaScript.</p>
			<button type="button" class="btn btn-primary btn-lg">Block level button</button>
		</div>
	</div>
</div>